body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  padding-top: -100px;
}

.container {
  width: 100%;
  max-width: 1250px;
  padding: 0 25px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.mac {
  position: relative;
  width: 100%;
  margin-bottom: 80px;
}

.mac__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #222;
  box-shadow: 0 0 5px 2px #555;
  z-index: 100;
}

.header__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-link {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.header__list {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.header__item {
  margin: 0 20px;
}

.header__link {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.add__btn {
  font-size: 25px;
  color: #fff;
  background: transparent;
  border: none;
  margin: 0 5px;
}

.add__search {
  font-size: 25px;
  color: #fff;
  background: transparent;
  border: none;
  margin: 0 5px;
}

.mac__inner {
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 100px;
}

.mac__left {
  position: relative;
  width: 50%;
  height: auto;
  padding-top: 50px;
}

.left__box {
  position: relative;
  width: 100%;
  max-height: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.left__list {
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  list-style-type: none;
  transition: all 0.5s ease;
}

.left__item {
  width: 600px;
  height: 100%;
  padding: 0 20px;
}

.left__img-box {
  width: 500px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.left__mac-img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left__modalBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  color: #555;
  border: none;
  background: transparent;
  cursor: pointer;
}

.left__slider {
  position: relative;
  width: 100%;
  height: 100px;
}

.lslid__list {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: -20px;
  margin-right: -10px;
}

.lslid__item {
  width: 110px;
  height: 110px;
  margin: 0 2px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.lslid__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.slider--imgs {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.slid-act {
  margin-left: -2px;
  margin-top: -2px;
  border: 2px solid #000;
}

.lslid__item:hover {
  /* height: 90%; */
  border: 2px solid #000;
}

.lslid__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mac__right {
  width: 50%;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.mac__right-box {
  padding-left: 20px;
  width: 100%;
  height: 800px;
  overflow-y: scroll;
  transform: translateX(20px);
}

.right__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right__title {
  width: 75%;
  font-size: 45px;
  font-weight: 600;
}

.btns__title {
  font-size: 20px;
  font-weight: 600;
  color: #222;
  padding-left: 10px;
  margin-bottom: 5px;
}

.right__title-span {
  font-size: 45px;
  font-weight: 600;
  color: #222;
}

.right__top-btn {
  width: 15%;
  font-size: 40px;
  color: #222;
  border: none;
  background: transparent;
  cursor: pointer;
}

.right__btn-box {
  width: 100%;
  margin-bottom: 20px;
}

.right__ram-box {
  width: 100%;
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
}

.right__ram-btn {
  padding: 15px 60px;
  margin: 0 5px;
  margin-bottom: 10px;
  border: none;
  border: 2px solid #555;
  border-radius: 10px;
  background: transparent;
  font-size: 18px;
  font-weight: 600;
}

.ram-btn-act {
  border: 2px solid rgb(118, 134, 228);
}

.right__pamet-box {
  width: 100%;
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
}

.right__pamet-btn {
  padding: 15px 50px;
  margin: 0 5px;
  margin-bottom: 10px;
  border: none;
  border: 2px solid #555;
  border-radius: 10px;
  background: transparent;
  font-size: 18px;
  font-weight: 600;
}

.oneT {
  display: none;
}

.d-block {
  display: inline-block !important;
}

.pamet-btn-act {
  border: 2px solid rgb(118, 134, 228);
}

.right__color-btn {
  position: relative;
  padding: 40px 60px 20px;
  margin: 10px;
  border: none;
  border: 2px solid #555;
  border-radius: 10px;
  background: transparent;
  font-size: 18px;
  font-weight: 600;
}

.color-btn-act {
  border: 2px solid rgb(118, 134, 228);
}

.mac-colors1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: rgb(216, 184, 5);
  border-radius: 50%;
}

.mac-colors2 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: rgb(139, 139, 137);
  border-radius: 50%;
}

.mac-colors3 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: rgb(95, 95, 95);
  border-radius: 50%;
}

.right__add-rem-box {
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.right__rem-btn {
  width: 25%;
  font-size: 30px;
  border: none;
  background: transparent;
  text-align: center;
  border-right: 1px solid #000;
  padding: 5px 12px;
}

.right__count {
  font-size: 20px;
  color: #222;
  outline: none;
  border: none;
  width: 50%;
  text-align: center;
  padding: 5px;
}

.right__add-btn {
  width: 25%;
  font-size: 30px;
  border: none;
  background: transparent;
  padding: 0 15px;
  border-left: 1px solid #000;
  padding: 5px 10px;
}

.right__price {
  font-size: 35px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
}

.right__price2 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 5px;
  text-decoration: line-through;
}

.right__submit-box {
  width: 100%;
}

.right__submit {
  width: 100%;
  padding: 15px;
  background: rgb(39, 115, 201);
  border: none;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #fff;
}

.right__sub2 {
  width: 100%;
  padding: 15px;
  background: rgb(223, 218, 218);
  border: none;
  border: 1px solid transparent;
  border-radius: 10px;
  color: rgb(39, 115, 201);
}

@media screen and (max-width: 576px) {
  .mac__inner {
    flex-direction: column;
  }
  .mac__left {
    width: 100%;
  }
  .mac__right {
    width: 100%;
  }
}

.d-none {
  display: none !important;
}

/* MODAL  */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 500;
  transition: all 0.4s ease;
  display: none;
}

.mdal__btn {
  position: absolute;
  bottom: 100px;
  right: 20px;

  font-size: 35px;
  color: #555;
  border: none;
  background: transparent;
  transition: all 0.2s ease;
}

.mdal__btn:hover {
  color: rgb(58, 56, 56);
}

.modal__top_box {
  width: 100%;
  height: 75vh;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}

.modal__top_list {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  list-style-type: none;
  transition: all 0.5s ease;
}

.modal__top_list li {
  width: 100vw;
  height: 70vh;
  padding: 0;
}

.modal__img-box {
  width: 95vw;
  height: 70vh;
}

.modal__img-box img {
  width: 35%;
  height: 100%;
  object-fit: cover;
}

.modal__bottom-box {
  padding-top: 60px;
  width: 30%;
  height: 25vh;
  margin: 0 auto;
  height: auto;
}

.modal__bottom_list {
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.modal__bottom_list li {
  width: 100%;
  height: 100%;
}

/* MAIN  */

.main {
  position: relative;
  width: 100%;
}

.main__inner {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
}

.desc__btn-box {
  position: relative;
  width: 100%;
  height: 50px;
  background: #f5f5f7;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.desc__left-btn {
  width: 50%;
  height: 100%;
  color: #555;
  background: #f5f5f7;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.desc__right-btn {
  width: 50%;
  height: 100%;
  color: #555;
  background: #f5f5f7;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.text-act {
  color: #333 !important;
  background: #fff !important;
}

.desc__texts {
  width: 100%;
  height: auto;
}

.desc__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-right: 150px;
  color: #333;
}

.main__silder-box {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.slid__slider_title {
  font-size: 28px;
  line-height: 1.5px;
  text-align: center;
  font-weight: 700;
  padding: 10px 0;
  margin-bottom: 10px;
}

.slid__slider-box {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slid__list {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  list-style-type: none;
  transition: all 0.5s ease;
}

.slid__item {
  width: 380px;
  height: 400px;
  padding: 30px 0;
}

.slid__item-box {
  width: 380px;
  height: 250px;
  text-align: center;
}

.slid__item-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slid__img-title {
  margin: 0;
  color: #333;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  transition: all 0.2s ease;
}

.slid__img-price {
  display: block;
  margin-top: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  color: #333;
}

.slid__item a:hover h4 {
  color: rgb(4, 118, 194);
}

.slid__btns {
  color: #8a8a8a;
  background: #ececec;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 35px;
  line-height: 40px;
  transition: all 0.3s ease;
}

.slid__btn-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: none;
  z-index: 10;
}

.slid__btn-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 10;
}

.footer {
  position: relative;
  width: 100%;
  height: auto;
  border-top: 1px solid #d1d1d1;
  background: #f5f5f7;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer__menus-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__menus {
  width: 25%;
  text-align: left;
  height: auto;
  padding: 5px;
}

.contact {
  display: flex;
  align-items: center;
}

.menus__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #333;
  margin-bottom: 10px;
}

.menus__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menus__item {
  margin-bottom: 10px;
}

.menus__link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #515154;
}

.con__link {
  font-size: 30px;
  color: #515154;
}

.footer__bottom-con {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
